<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1 align="center">create a new Account</h1>
		<hr>
		<form action="/signUp" method="post">
			<label>USERNAME :</label>
			<input type="text" name="username">
			<br><br>
			
			<label>E-MAIL :</label>
			<input type="email" name="email">
			<br><br>
			
			<label>PASSWORD :</label>
			<input type="password" name="password">
			<br><br>
			
			<label>DOB :</label>
			<input type="date" name="dob">
			<br><br>
			
			<label>GENDER :</label>
			<label>M</label><input type="radio" name="gender" value="M">
			<label>F</label><input type="radio" name="gender" value="F">
			<label>O</label><input type="radio" name="gender" value="O">
			<br><br>
			
			<input type="submit" value="LOGIN">
			<hr>
		
			<a href="/">Already have Account ? Login instead</a>
		
		</form>
</body>
</html>